
.mainSliderContainer {
  @apply flex justify-center items-center mx-[12px];
}

.mainSlide {
  @apply p-10 lg:p-[80px] min-w-full rounded-3xl;
  max-width: 1270px;
  background-image: url('../assets/images/Bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.mainSlideContent {
  @apply max-w-[768px];  
}
.mainSlideHeading {
  color: #f1f5f9;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.5px;
}

.mainSlidePlayer {
    @apply flex justify-center items-center gap-[12px];
    padding: 20px 16px;
  height: 80px;
  border-radius: 24px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.12) 100%
  );
  box-shadow: 0px 4px 6px -1px rgba(17, 24, 39, 0.04);
}


.speed {
 @apply text-white rounded appearance-none hover:text-white;
 background-color: rgba(255, 255, 255, 0.32);
 padding: 4px 7px;
}
.progressBar {
    width: 100%;
    background: #FFF;
    opacity: 0.47999998927116394;
}
.progress {
    background: linear-gradient(63deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    height: 8px;
    width: 40%;
}